<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <title>Document</title>
</head>
<body class="product-body">
    <h2 class="product-heading">Delete Product</h2>
    <form action="/delete" method="post" class="product-form">
        <label for="pID" class="product-header-label">Are you sure you want to delete this Product?</label>
        
        <div class="product-form-body">
            <label class="product-label">Enter Product ID:</label>
            <input type="text" id="pID" name="pID" class="product-input"/><br>
        </div>
        
        <button type="submit" class="product-btn">Delete</button>
    </form>
</body>
</html>
