<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options Page</title>
    <link rel="stylesheet" href="/css/options.css" />
  </head>
  <body>
    <div class="main-container">
      <!-- Top Left Image Container -->
      <div class="logo-container">
        <a href="options.html"
          ><img src="/images/Logo.png" alt="Website Logo"
        /></a>
      </div>

      <!-- Logout Button -->
      <div class="logout-container">
        <form action="/logout" method="POST">
          <button type="submit" class="button">Logout</button>
        </form>
      </div>

      <!-- Header -->
      <header>
        <h1>Product Management Options</h1>
      </header>

      <div class="options-container">
        <!-- Buttons for different CRUD operations -->
        <a href="/seeAllProducts" class="button">See All Products<a>
        <a href="/addProduct" class="button">Add Product</a>
        <a href="/update" class="button">Update Product</a>
        <a href="/delete" class="button">Delete Product</a>
      </div>
    </div>
  </body>
</html>
