/* General body styles */
.product-body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1; 
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Heading styles */
.product-heading {
    color: black; 
    text-align: center;
    margin-bottom: 20px;
}

/* Form container styles */
.product-form {
    background-color: #ffffff; 
    padding: 30px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px;
}

.product-form-body {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

/* Label styles */
.product-header-label {
    font-size: large;
    letter-spacing: 1.1px;
    color: #333; 
    display: block;
    margin-bottom: 8px;
}
.product-label{
    float: left;
    width: 45%;
    font-size: medium;
}

/* Input field styles */
.product-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Button styles */
.product-btn {
    background-color: yellow; 
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

/* Button hover effect */
.product-btn:hover {
    background-color: #d88c18; 
}

/* Adjusting for smaller screens */
@media (max-width: 480px) {
    .product-form {
        width: 60%; 
    }
}
