
.login-logo img {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    height: 30vh;
    padding-top: 0;
}

.login-container {
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: auto;
    display: flex;
}

/* Styling form container*/
.login-form{
    max-width: 95%;
    margin: auto;
    background: #fff;
    text-align: center;
    padding: 0 2em 2em;
    display: block;
    align-items: center;
    
}

/* Styling form fields */
.entry-field {
    max-height: 4.1rem;
    height: 3rem;
    background-color: #eaeaea;
    margin: 1em 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    transition: max-height 0.1s;
    overflow: hidden;
}

.entry-field input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 1.13em 1em;
    display: block;
}

.entry-field label {
    color: grey;
    margin-left: 3%;
}

.entry-field i {
    color: #999;
    margin-left: 1em;
}

.entry-field div {
    bottom: 0;
    left: 0;
    color: black;
    visibility: hidden;
    font-size: 0.8em;
}

.login-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.login-buttons button, .Button-container button {
    flex-basis: 50%;
    background: yellow;
    color: black;
    height: 2.5em;
    border: solid black;
    border-radius: 0.5em;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin-left: 0.1em;
}